In [2]:
import tensorflow as tf
import numpy as np

In [3]:
#Features and neurons

n_f = 10
n_d_n = 3

In [4]:
#Creating placeholders

x = tf.placeholder(tf.float32)

In [5]:
x

In [6]:
#Variable for weight and bias

b = tf.Variable(tf.zeros([n_d_n]))
w = tf.Variable(tf.random_normal([n_f, n_d_n]))

In [7]:
# y = wx + b

xw = tf.matmul(x,w)
z = tf.add(xw,b)

In [8]:
#Passing by activation fucntion

a = tf.sigmoid(z)

In [16]:
#Initializing variables
init = tf.global_variables_initializer()

#Creating session
with tf.Session() as sess:
    sess.run(init)
    #Creating output layer
    ran = np.random.random([1,n_f])
    layer_out = sess.run(a, feed_dict={x:ran})
    print(ran, '\n', layer_out)

[[0.67272279 0.02900306 0.60347789 0.61765685 0.44757042 0.4324029
  0.83961775 0.53065169 0.05191544 0.58046115]]
 [[0.55570656 0.796848   0.59224665]]

In [20]:
import pandas as pd

data = pd.read_csv("Salaries.csv")
data.head()

           Position   Level  Salary
0   Business Analyst      1   45000
1  juinor consultant      2   50000
2  senior consultant      3   60000
3            Manager      4   60000
4    Country manager      5  110000